<%- include('partials/header') -%>

<div class="">
  <% for(let i=0;i<heading.length;i++){ %>
  <div class="post-block">
    <h1 class="post-heading"><%=heading[i]%></h1>
    <p class="post">
      <%=post[i].substring(0,100)+" ..."%>
      <a href="/post/<%=heading[i]%>" name="postID" value=<%=i%> >Read More</a>
    </p>
  </div>
  <%}%>
    </div>

<%- include('partials/footer') -%>
